.logo {
    max-width: 100px;
}

.homepage {
    margin-top: 20px;
}

.homepage .carousel-item {
    max-height: 400px;
    object-fit: cover;
    margin-bottom: 30px;
}

.homepage h3 {
    text-transform: capitalize;
}

.homepage .card {
    margin-bottom: 2rem;
}

.navbar {
    border-bottom: 1px solid;
}

.useremail {
    padding: 0.5rem;
    padding-top: 1rem;
    margin-left: 10px;
    color: #FF4D67;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;

}

.modal-body img {
    width: 100%;
    height: auto;
    object-fit: cover;

}

.fresh-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.fresh-btn:hover {
    background-color: #3e8e41
}

.fresh-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 1em;
    background-color: #4CAF50;
    color: #fff;
}